# Lab | Web Scraping

Welcome to the IMDb Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the vast sea of data available on IMDb, one of the largest online databases of movie, TV, and celebrity information. As budding data scientists and business analysts, you have been tasked to scrape a specific subset of data from IMDb to assist film production companies in understanding the landscape of highly-rated movies in a defined time period. Your insights will potentially influence the making of the next netflix movie!

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The entertainment industry, being no exception, utilizes data analytics to comprehend market trends, audience preferences, and the performance of films based on various parameters such as director, genre, stars involved, etc. IMDb stands as a goldmine of such data, offering intricate details of almost every movie ever made.

**Task**

Your task is to create a Python script using `BeautifulSoup` and `pandas` to scrape IMDb movie data based on user ratings and release dates. This script should be able to filter movies with ratings above a certain threshold and within a specified date range.

**Expected Outcome**

- A function named `scrape_imdb` that takes four parameters: `title_type`,`user_rating`, `start_date`, and `end_date`.
- The function should return a DataFrame with the following columns:
  - **Movie Nr**: The number representing the movie’s position in the list.
  - **Title**: The title of the movie.
  - **Year**: The year the movie was released.
  - **Rating**: The IMDb rating of the movie.
  - **Runtime (min)**: The duration of the movie in minutes.
  - **Genre**: The genre of the movie.
  - **Description**: A brief description of the movie.
  - **Director**: The director of the movie.
  - **Stars**: The main stars of the movie.
  - **Votes**: The number of votes the movie received.
  - **Gross ($M)**: The gross earnings of the movie in millions of USD.

You will execute this script to scrape data for movies with the Title Type `Feature Film` that have a user rating of `7.5 and above` and were released between `January 1, 1990, and December 31, 1992`.

Remember to experiment with different title types, dates and ratings to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [IMDb Advanced Search](https://www.imdb.com/search/title/)

**Hint**

Your first mission is to familiarize yourself with the IMDb advanced search page. Head over to [IMDb advanced search](https://www.imdb.com/search/title/) and input the following parameters, keeping all other fields to their default values or blank:

- **Title Type**: Feature film
- **Release date**: From 1990 to 1992 (Note: You don't need to specify the day and month)
- **User Rating**: 7.5 to -

Upon searching, you'll land on a page showcasing a list of movies, each displaying vital details such as the title, release year, and crew information. Your task is to scrape this treasure trove of data.

Carefully examine the resulting URL and construct your own URL to include all the necessary parameters for filtering the movies.


---

**Best of luck! Immerse yourself in the world of movies and may the data be with you!**

**Important note**:

In the fast-changing online world, websites often get updates and make changes. When you try this lab, the IMDb website might be different from what we expect.

If you run into problems because of these changes, like new rules or things that stop you from getting data, don't worry! Instead, get creative.

You can choose another website that interests you and is good for scraping data. Websites like Wikipedia or The New York Times are good options. The main goal is still the same: get useful data and learn how to scrape it from a website that you find interesting. It's a chance to practice your web scraping skills and explore a source of information you like.

In [161]:
import requests

import pandas as pd

url = "https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,"
response = requests.get(url)
response

from bs4 import BeautifulSoup

soup = BeautifulSoup(response.content, "html.parser")

In [162]:
def scrape_imdb(soup):
    movie_number_list = []
    title_list = []
    year_list = []
    rating_list = []
    runtime_list = []
    genre_list =[]
    description_list = []
    director_list = []
    stars_list = []
    votes_list = []
    gross_list = []
    
    films = soup.find_all('div', class_= 'lister-item-content')
    
    for film in films:
        
        movie_number = film.find('span', class_= 'lister-item-index unbold text-primary').text.strip()
        movie_number_list.append(movie_number)
        
        title = film.find('a').text.strip()
        title_list.append(title)
        
        year = film.find('span', class_= 'lister-item-year text-muted unbold').text.replace('(','').replace(')','').strip()
        year_list.append(year)
        
        rating = film.find('strong').text.strip()
        rating_list.append(rating)
        
        runtime = film.find('span', class_= 'runtime').text.replace(' min','').strip()
        runtime_list.append(runtime)
        
        genre = film.find('span', class_= 'genre').text.strip()
        genre_list.append(genre)
        
        description = film.select('p', class_='text-muted')[1].text.strip()
        description_list.append(description)
        
        director = film.select('p')[2].text.split('\n')
        director_list.append(director[2])
        
        stars = film.select('p')[2].text.split('\n')
        stars_list.append(stars[5:9])
        
        votes = film.select('p')[3].text.split('\n')
        votes_list.append(votes[2])
        
        gross = film.select('p')[3].text.split('\n')
        gross_list.append(gross[-2])
        
        df = pd.DataFrame({'Number in List':movie_number_list,
                           'Name of Film':title_list,
                           'Year of Release':year_list,
                           'IMDb Rating':rating_list,
                           'Runtime':runtime_list,
                           'Genres':genre_list,
                           'Description':description_list,
                           'Director':director_list,
                           'Starring':stars_list,
                           'Public Votes':votes_list,
                           'Gross Revenue':gross_list})
    
    return df

In [163]:
x = scrape_imdb(soup)
x

,Number in List,Name of Film,Year of Release,IMDb Rating,Runtime,Genres,Description,Director,Starring,Public Votes,Gross Revenue
0,1.,Les affranchis,1990,8.7,145,"Biography, Crime, Drama",The story of Henry Hill and his life in the ma...,Martin Scorsese,"[Robert De Niro, , Ray Liotta, , Joe Pesci, , ...","1,216,399",$46.84M
1,2.,Le Silence des agneaux,1991,8.6,118,"Crime, Drama, Thriller",A young F.B.I. cadet must receive the help of ...,Jonathan Demme,"[Jodie Foster, , Anthony Hopkins, , Lawrence A...","1,495,854",$130.74M
2,3.,Terminator 2 : Le jugement dernier,1991,8.6,137,"Action, Sci-Fi","A cyborg, identical to the one who failed to k...",James Cameron,"[Arnold Schwarzenegger, , Linda Hamilton, , Ed...","1,142,997",$204.84M
3,4.,Mon cousin Vinny,1992,7.6,120,"Comedy, Crime",Two New Yorkers accused of murder in rural Ala...,Jonathan Lynn,"[Joe Pesci, , Marisa Tomei, , Ralph Macchio, ,...","135,627",$52.93M
4,5.,Reservoir Dogs,1992,8.3,99,"Crime, Thriller",When a simple jewelry heist goes horribly wron...,Quentin Tarantino,"[Harvey Keitel, , Tim Roth, , Michael Madsen, ...","1,060,423",$2.83M
5,6.,"Maman, j'ai raté l'avion!",1990,7.7,103,"Comedy, Family","An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"[Macaulay Culkin, , Joe Pesci, , Daniel Stern,...","613,177",$285.76M
6,7.,Misery,1990,7.8,107,"Drama, Thriller",After a famous author is rescued from a car cr...,Rob Reiner,"[James Caan, , Kathy Bates, , Richard Farnswor...","225,921",$61.28M
7,8.,Le dernier des Mohicans,1992,7.7,112,"Action, Adventure, Drama",Three trappers protect the daughters of a Brit...,Michael Mann,"[Daniel Day-Lewis, , Madeleine Stowe, , Russel...","181,090",$75.51M
8,9.,"Le parrain, 3e partie",1990,7.6,162,"Crime, Drama","Follows Michael Corleone, now in his 60s, as h...",Francis Ford Coppola,"[Al Pacino, , Diane Keaton, , Andy Garcia, , T...","414,176",$66.67M
9,10.,Total Recall,1990,7.5,113,"Action, Adventure, Sci-Fi",When a man goes in to have virtual vacation me...,Paul Verhoeven,"[Arnold Schwarzenegger, , Sharon Stone, , Mich...","345,576",$119.39M
10,11.,Edward aux mains d'argent,1990,7.9,105,"Drama, Fantasy, Romance",The solitary life of an artificial man - who w...,Tim Burton,"[Johnny Depp, , Winona Ryder, , Dianne Wiest, ...","510,016",$56.36M
11,12.,Impitoyable,1992,8.2,130,"Drama, Western",Retired Old West gunslinger William Munny relu...,Clint Eastwood,"[Clint Eastwood, , Gene Hackman, , Morgan Free...","426,673",$101.16M
12,13.,Des hommes d'honneur,1992,7.7,138,"Drama, Thriller",Military lawyer Lieutenant Daniel Kaffee defen...,Rob Reiner,"[Tom Cruise, , Jack Nicholson, , Demi Moore, ,...","278,802",$141.34M
13,14.,Le Temps d'un week-end,1992,8.0,156,Drama,A prep school student needing money agrees to ...,Martin Brest,"[Al Pacino, , Chris O'Donnell, , James Rebhorn...","317,745",$63.90M
14,15.,Danse avec les loups,1990,8.0,181,"Adventure, Drama, Western","Lieutenant John Dunbar, assigned to a remote w...",Kevin Costner,"[Kevin Costner, , Mary McDonnell, , Graham Gre...","281,866",$184.21M
15,16.,Aladdin,1992,8.0,90,"Animation, Adventure, Comedy",A kind-hearted street urchin and a power-hungr...,"Ron Clements,","[ Stars:, Scott Weinger, , Robin Williams, ...","449,085",$217.35M
16,17.,JFK,1991,8.0,189,"Drama, History, Thriller",New Orleans District Attorney Jim Garrison dis...,Oliver Stone,"[Kevin Costner, , Gary Oldman, , Jack Lemmon, ...","165,392",$70.41M
17,18.,"Boyz'n the Hood, la loi de la rue",1991,7.8,112,"Crime, Drama",Follows the lives of three young males living ...,John Singleton,"[Cuba Gooding Jr., , Laurence Fishburne, , Hud...","149,343",$57.50M
18,19.,La Belle et la Bête,1991,8.0,84,"Animation, Family, Fantasy",A prince cursed to spend his days as a hideous...,"Gary Trousdale,","[ Stars:, Paige O'Hara, , Robby Benson, , J...","470,506",$218.97M
19,20.,Thelma & Louise,1991,7.6,130,"Adventure, Crime, Drama","Two best friends set out on an adventure, but ...",Ridley Scott,"[Susan Sarandon, , Geena Davis, , Harvey Keite...","165,862",$45.36M
20,21.,À la poursuite d'Octobre Rouge,1990,7.5,135,"Action, Adventure, Thriller","In November 1984, the Soviet Union's best subm...",John McTiernan,"[Sean Connery, , Alec Baldwin, , Scott Glenn, ...","209,459",$122.01M
21,22.,L'éveil,1990,7.8,121,"Biography, Drama",The victims of an encephalitis epidemic many y...,Penny Marshall,"[Robert De Niro, , Robin Williams, , Julie Kav...","153,000",$52.10M
22,23.,Beignets de tomates vertes,1991,7.7,130,Drama,A housewife who is unhappy with her life befri...,Jon Avnet,"[Kathy Bates, , Jessica Tandy, , Mary Stuart M...","79,529",$82.42M
23,24.,Braindead,1992,7.5,104,"Comedy, Fantasy, Horror",A young man's mother is bitten by a Sumatran r...,Peter Jackson,"[Timothy Balme, , Diana Peñalver, , Elizabeth ...","101,187",$0.24M
24,25.,Glengarry,1992,7.7,100,"Crime, Drama, Mystery",An examination of the machinations behind the ...,James Foley,"[Al Pacino, , Jack Lemmon, , Alec Baldwin, , A...","112,679",$10.73M
25,26.,Chaplin,1992,7.5,143,"Biography, Comedy, Drama",An elderly Charlie Chaplin discusses his autob...,Richard Attenborough,"[Robert Downey Jr., , Geraldine Chaplin, , Pau...","60,487",$9.49M
26,27.,Malcolm X,1992,7.7,202,"Biography, Drama, History",Biographical epic of the controversial and inf...,Spike Lee,"[Denzel Washington, , Angela Bassett, , Delroy...","99,536",$48.17M
27,28.,Fisher King - Le roi pêcheur,1991,7.5,137,"Comedy, Drama, Fantasy","A former radio DJ, suicidally despondent becau...",Terry Gilliam,"[Jeff Bridges, , Robin Williams, , Adam Bryant...","89,101",$41.90M
28,29.,Miller's Crossing,1990,7.7,115,"Crime, Drama, Thriller","Tom Reagan, an advisor to a Prohibition-era cr...","Joel Coen,","[ Stars:, Gabriel Byrne, , Albert Finney, ,...","139,558",$5.08M
29,30.,Des souris et des hommes,1992,7.5,115,"Drama, Western",A nomadic farm worker looks after his dimwitte...,Gary Sinise,"[John Malkovich, , Gary Sinise, , Ray Walston,...","45,816",$5.10M
30,31.,The Player,1992,7.5,124,"Comedy, Crime, Drama",A Hollywood studio executive is being sent dea...,Robert Altman,"[Tim Robbins, , Greta Scacchi, , Fred Ward, , ...","64,166",$21.71M
31,32.,Porco Rosso,1992,7.7,94,"Animation, Adventure, Comedy","In 1930s Italy, a veteran World War I pilot is...",Hayao Miyazaki,"[Shûichirô Moriyama, , Tokiko Katô, , Bunshi K...","96,772","96,772"
32,33.,Les Commitments,1991,7.6,118,"Comedy, Drama, Music","Jimmy Rabbitte, an unemployed Dublin boy, deci...",Alan Parker,"[Robert Arkins, , Michael Aherne, , Angeline B...","37,463",$14.92M
33,34.,Adieu ma concubine,1992,8.1,171,"Drama, Music, Romance",Two boys meet at an opera training school in P...,Kaige Chen,"[Leslie Cheung, , Fengyi Zhang, , Gong Li, , Y...","31,673",$5.22M
34,35.,Barton Fink,1991,7.6,116,"Comedy, Drama, Thriller",A renowned New York playwright is enticed to C...,"Joel Coen,","[ Stars:, John Turturro, , John Goodman, , ...","126,679",$6.15M
35,36.,La Belle Noiseuse,1991,7.5,238,Drama,The former famous painter Frenhofer revisits a...,Jacques Rivette,"[Michel Piccoli, , Jane Birkin, , Emmanuelle B...","9,049",$0.41M
36,37.,Delicatessen,1991,7.5,99,"Comedy, Crime",Post-apocalyptic surrealist black comedy about...,"Marc Caro,","[ Stars:, Marie-Laure Dougnac, , Dominique ...","88,247",$1.79M
37,38.,Night on Earth,1991,7.7,129,"Comedy, Drama",An anthology of 5 different cab drivers in 5 A...,Jim Jarmusch,"[Winona Ryder, , Gena Rowlands, , Lisanne Falk...","64,094",$2.02M
38,39.,À toute épreuve,1992,7.7,128,"Action, Crime, Thriller",A tough-as-nails cop teams up with an undercov...,John Woo,"[Chow Yun-Fat, , Tony Leung Chiu-wai, , Teresa...","52,837","52,837"
39,40.,Rêves,1990,7.7,119,"Drama, Fantasy",A collection of tales based upon eight of dire...,"Akira Kurosawa,","[ Stars:, Akira Terao, , Mitsuko Baishô, , ...","28,130",$1.96M
40,41.,La double vie de Véronique,1991,7.7,98,"Drama, Fantasy, Music",Two parallel stories about two identical women...,Krzysztof Kieslowski,"[Irène Jacob, , Wladyslaw Kowalski, , Halina G...","51,602",$2.00M
41,42.,"Souvenirs, goutte à goutte",1991,7.6,119,"Animation, Drama, Romance",A twenty-seven-year-old office worker travels ...,Isao Takahata,"[Miki Imai, , Toshirô Yanagiba, , Yoko Honna, ...","35,486",$0.45M
42,43.,A Brighter Summer Day,1991,8.2,237,"Crime, Drama, Romance","Based on a true story, primarily on a conflict...",Edward Yang,"[Chang Chen, , Lisa Yang, , Kuo-Chu Chang, , E...","11,972","11,972"
43,44.,Close-Up,1990,8.2,98,"Biography, Crime, Drama","The true story of Hossain Sabzian, a cinephile...",Abbas Kiarostami,"[Hossain Sabzian, , Mohsen Makhmalbaf, , Abolf...","21,852",$0.00M
44,45.,Épouses et concubines,1991,8.1,125,"Drama, Romance",A young woman becomes the fourth wife of a wea...,Yimou Zhang,"[Gong Li, , Jingwu Ma, , Saifei He, , Cuifen Cao]","34,451",$2.60M
45,46.,The Five Heartbeats,1991,7.5,121,"Drama, Music",The story of the rise and fall of an African A...,Robert Townsend,"[Robert Townsend, , Michael Wright, , Leon, , ...","4,618",$8.75M
46,47.,Cyrano de Bergerac,1990,7.5,137,"Comedy, Drama, History",Famed swordsman and poet Cyrano de Bergerac is...,Jean-Paul Rappeneau,"[Gérard Depardieu, , Anne Brochet, , Vincent P...","25,372",$15.14M
47,48.,Noël chez les Muppets,1992,7.7,85,"Comedy, Drama, Family",The Muppets present their own touching renditi...,Brian Henson,"[Michael Caine, , Dave Goelz, , Steve Whitmire...","64,857",$27.28M
48,49.,Europa,1991,7.6,112,"Drama, Thriller","Just after W.W.II, an American takes a railway...",Lars von Trier,"[Barbara Sukowa, , Jean-Marc Barr, , Udo Kier,...","22,575",$1.01M
49,50.,Maris et femmes,1992,7.5,108,"Comedy, Drama, Romance",When their best friends announce that they're ...,Woody Allen,"[Woody Allen, , Mia Farrow, , Sydney Pollack, ...","30,506",$10.56M

In [96]:
#main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content > h3 > a

#main > div > div.lister.list.detail.sub-list > div > div:nth-child(2) > div.lister-item-content > h3 > a

#main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content > p:nth-child(5)

lister-item-index unbold text-primary

SyntaxError: invalid syntax (3909614792.py, line 7)

In [ ]:
def extract_bike_info(soup):
    
    bicycle_names = []
    prices = []
    URL_dets = []
    URL_img = []
    
    components = soup.find_all('article', class_='de-ProductTile')
    #components = soup.find_all('section', class_='de-ProductTile-info')

    
    for component in components:
    # Extract bicycle name
        bike_name = component.find('h4', class_='de-ProductTile-title').text.strip()
        bicycle_names.append(bike_name)

    # Extract price
        price = component.find('span', class_='js-de-ProductTile-currentPrice').text.strip().replace("$", "")
        prices.append(price)
        
    # Extract URL for the product details
        link_bike = component.find('a', class_='de-u-linkClean js-de-ProductTile-link')
        URL_dets.append('http://decathlon.com' + link_bike.get('href'))
        
    # Extract URL for images
        link_image = component.find('img', itemprop='image').get('data-src')
        URL_img.append(link_image[2:])
        
    df = pd.DataFrame({'Bicycle Names':bicycle_names, 'Bicycle Prices':prices, 'Links for Bike Details':URL_dets, 'Links for Bike Images':URL_img})
    
    return df

## BONUS

The search results span multiple pages, housing a total of 631 movies in our example with each page displaying 50 movies at most. To scrape data seamlessly from all pages, you'll need to dive deep into the structure of the URLs generated with each "Next" click.

Take a close look at the following URLs:
- First page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,
  ```
- Second page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=51&ref_=adv_nxt
  ```
- Third page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=101&ref_=adv_nxt
  ```

You should notice a pattern. There is a `start` parameter incrementing by 50 with each page, paired with a constant `ref_` parameter holding the value "adv_nxt".

Modify your script so it's capable of iterating over all available pages to fetch data on all the 631 movies (631 is the total number of movies in the proposed example).

In [ ]:
# Your solution goes here